.mobile-container {
  max-width: 800px;
  margin: auto;

  background-color: #555;
  height: 500px;
  color: white;
}

ul {
  /* ul layout*/
  display: flex;
  flex-direction: row;
  margin-left: auto !important;

/* ul styling*/
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* general list/nav-link styles */


/* allows navbar-icon
to go absolute - to position (top-right)  */
nav {
  position: relative;

  padding: 14px 16px;

  display: flex;
}


#navbar-items {
  /* display: flex; */
}

ul a {
  /* display: inline; */
  text-decoration: none;

  padding: 14px 16px;

  font-size: 17px;
  color: white;
}

.branding {
    padding: 14px 16px;
}



#navbar-icon {
  /* start off hidden then show on mobile screens */
  display: none;

  /* positions navbar icon */
  position: absolute;
  right: 10px;
  top: 10px;

  background: black;
  padding: 14px 16px;
  font-size: 17px;
}

/* @media screen and (min-width: 601px) {
/* not sure if screen and is neccessary here
  #navbar-items {
    display: flex;
  }
} */


/* Max-DEVICE-width: 600px instead of max-width 600px
  current solution for time being for deployment

  - continue working on the bug where if max-width and icon clicked and enlarged
  nav list(items) disappears - suspect js?

  1.  current solution, icon for phone.
  2.  flex - block for changing browser width (add margin between branding and nav items)
*/
/* stimulates mobile at 600px screen size, width of
container is set to 480px*/
@media screen and (max-device-width: 600px) {
  .mobile-container {
    max-width: 480px;
    margin: auto;

    background-color: #555;
    height: 500px;
    color: white;
  }
  /* mobile container */

  #navbar-icon {
    display: block;
  }
  #navbar-items {
    display: none;
  }
  /* hide list and show icon */

  nav {
    display: block;
  }
  .branding {
    display: block;
  }

  ul {
    text-align: center;
  }

  li:hover{
    display: block;
    /* each line! */
    background-color: #EAEAEA;
  }
}
