.mobile-container {
  max-width: 800px;
  margin: auto;

  background-color: #555;
  height: 500px;
  color: white;
}

ul {
  /* ul layout*/
  display: flex;
  flex-direction: row;
  margin-left: auto !important;

/* ul styling*/
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* general list/nav-link styles */


/* allows navbar-icon
to go absolute - to position (top-right)  */
nav {
  position: relative;

  padding: 14px 16px;

  display: flex;
}

/* hides the nav-item to start */
#navbar-items {

}

ul a {
  display: inline;
  text-decoration: none;

  padding: 14px 16px;

  font-size: 17px;
  color: white;
}

.branding {

    padding: 14px 16px;
}



#navbar-icon {
  /* start off hidden then show on mobile screens */
  display: none;

  /* positions navbar icon */
  position: absolute;
  right: 10px;
  top: 10px;

  background: black;
  padding: 14px 16px;
  font-size: 17px;
}

/* stimulates mobile at 600px screen size, width of
container is set to 480px*/
@media screen and (max-width: 600px) {
  .mobile-container {
    max-width: 480px;
    margin: auto;

    background-color: #555;
    height: 500px;
    color: white;
  }

  #navbar-icon {
    display: block;

  }

  #navbar-items {
    display: none;
  }


  li:hover{
    display: block;
    /* each line! */
    background-color: #EAEAEA;
  }
}
